<!-- Image -->
<div class="container__image">
  <img class="image" src="./../../../assets/images/pattern-background-desktop.svg">
  <img class="image__mobile" src="./../../../assets/images/pattern-background-mobile.svg">
</div>

<!-- Card -->
<div class="container__card">
  <div class="card">
    <div class="container__image__card">
      <img src="./../../../assets/images/illustration-hero.svg" class="image__card">
    </div>
    <!-- Item -->
    <div class="container__item">
      <div class="item">
        <div class="container__title">
          <span class="title">Order Summary</span>
        </div>
        <div class="container__description">
          <span class="description">
            You can now listen to milions of songs, audiobooks, and podcasts on any device anywhere you like!
          </span>
        </div>

        <!-- Annual Plan -->
        <div class="container__annual__plan">
          <div class="annual__plan">
            <div class="logo">
              <img src="./../../../assets/images/icon-music.svg" class="icon__music" alt="">
            </div>
            <div class="container__title__annual__plan">
              <span class="title__annual__plan">Annual Plan</span>
              <span class="description__annual__plan">$55.99/year</span>
            </div>
            <a href="#" class="change">Change</a>
          </div>
        </div>

        <!-- Button Payment -->
        <div class="container__payment">
          <button class="payment">Proceed to Payment</button>
          <button class="cancel"><span style="cursor: pointer;">Cancel Order</span></button>

        </div>
      </div>
    </div>

  </div>
</div>
